<fieldset>
  <legend>Edit Project</legend>

  <!-- TITLE -->
  <div class="form-group">
    <label for="project-title">Title</label><br>
    <input id="project-title" type="text" name="title" value="{{project.title}}" >
  </div>

  <!-- DESCRIPTION -->
  <div class="form-group">
    <label for="project-description">Description</label><br>
    <textarea id="project-description" name="description" rows="10">{{project.description}}</textarea>
  </div>

    <!-- CONTENT -->
  <div class="form-group">
    <label for="project-content">Content</label><br>
    <textarea id="project-content" name="content" rows="30">{{project.content}}</textarea>
  </div>
</fieldset>
